<?xml version='1.0' encoding='utf-8' ?>
<manifest android:versionCode="104"
          android:versionName="3.6.1"
          android:compileSdkVersion="33"
          android:compileSdkVersionCodename="13"
          package="com.kingagroot.kingdraw"
          platformBuildVersionCode="33"
          platformBuildVersionName="13"
          requiredSplitTypes="base__abi,base__density"
          splitTypes="" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-sdk android:minSdkVersion="21"
            android:targetSdkVersion="33" />
  <permission android:name="com.kingagroot.kingdraw.permission.JPUSH_MESSAGE"
              android:protectionLevel="signature" />
  <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
  <uses-permission android:name="com.kingagroot.kingdraw.permission.JPUSH_MESSAGE" />
  <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
                   android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                   android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
                   android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <meta-data android:name="android.max_aspect"
             android:value="2.2" />
  <queries>
    <package android:name="com.tencent.mobileqq" />
    <package android:name="com.tencent.mm" />
    <intent>
      <action android:name="*" />
      <data android:scheme="tbopen" />
    </intent>
    <package android:name="com.eg.android.AlipayGphone" />
    <package android:name="com.eg.android.AlipayGphoneRC" />
    <package android:name="hk.alipay.wallet" />
    <package android:name="hk.alipay.walletRC" />
    <intent>
      <action android:name="com.android.vending.billing.InAppBillingService.BIND" />
    </intent>
    <package android:name="com.google.android.apps.maps" />
  </queries>
  <uses-feature android:name="android.hardware.camera"
                android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus"
                android:required="false" />
  <uses-feature android:name="android.hardware.camera.front"
                android:required="false" />
  <uses-feature android:name="android.hardware.microphone"
                android:required="false" />
  <uses-permission android:name="android.permission.FLASHLIGHT" />
  <supports-screens android:anyDensity="true"
                    android:smallScreens="true"
                    android:normalScreens="true"
                    android:largeScreens="true"
                    android:resizeable="true" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-feature android:glEsVersion="0x00020000"
                android:required="true" />
  <application android:theme="@style/AppTheme.NoActionBar"
               android:label="@string/app_name"
               android:icon="@mipmap/ic_launcher"
               android:name="com.kingagroot.kingdraw.base.MApplication"
               android:configChanges="layoutDirection|locale"
               android:allowBackup="true"
               android:hardwareAccelerated="true"
               android:largeHeap="true"
               android:supportsRtl="false"
               android:extractNativeLibs="false"
               android:usesCleartextTraffic="false"
               android:resizeableActivity="false"
               android:networkSecurityConfig="@xml/network_security_config"
               android:roundIcon="@mipmap/ic_launcher_round"
               android:appComponentFactory="androidx.core.app.CoreComponentFactory"
               android:isSplitRequired="true"
               android:requestLegacyExternalStorage="true">
    <meta-data android:name="com.alibaba.app.appkey"
               android:value="333609086" />
    <meta-data android:name="com.alibaba.app.appsecret"
               android:value="cd783007e784427f8f11f1570f61d64e" />
    <uses-library android:name="org.apache.http.legacy"
                  android:required="false" />
    <meta-data android:name="JPUSH_CHANNEL"
               android:value="google" />
    <meta-data android:name="ScopedStorage"
               android:value="true" />
    <provider android:name="androidx.core.content.FileProvider"
              android:exported="false"
              android:authorities="com.kingagroot.kingdraw.fileProvider"
              android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/file_paths" />
    </provider>
    <activity android:theme="@style/AppTheme.Start"
              android:name="com.kingagroot.kingdraw.ui.StartActivity"
              android:exported="true"
              android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="file" />
        <data android:host="*" />
        <data android:mimeType="*/*" />
        <data android:pathPattern=".*\.kdx" />
        <data android:pathPattern=".*\..*\.kdx" />
        <data android:pathPattern=".*\..*\..*\.kdx" />
        <data android:pathPattern=".*\..*\..*\..*\.kdx" />
        <data android:pathPattern=".*\.king" />
        <data android:pathPattern=".*\..*\.king" />
        <data android:pathPattern=".*\..*\..*\.king" />
        <data android:pathPattern=".*\..*\..*\..*\.king" />
        <data android:pathPattern=".*\.mol" />
        <data android:pathPattern=".*\..*\.mol" />
        <data android:pathPattern=".*\..*\..*\.mol" />
        <data android:pathPattern=".*\..*\..*\..*\.mol" />
        <data android:pathPattern=".*\.cdx" />
        <data android:pathPattern=".*\..*\.cdx" />
        <data android:pathPattern=".*\..*\..*\.cdx" />
        <data android:pathPattern=".*\..*\..*\..*\.cdx" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="file" />
        <data android:mimeType="chemical/x-cdx" />
        <data android:mimeType="chemical/x-mdl-molfile" />
        <data android:mimeType="application/king" />
        <data android:mimeType="application/kdx" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="content" />
        <data android:mimeType="*/*" />
        <data android:host="*" />
        <data android:pathPattern=".*\.kdx" />
        <data android:pathPattern=".*\..*\.kdx" />
        <data android:pathPattern=".*\..*\..*\.kdx" />
        <data android:pathPattern=".*\..*\..*\..*\.kdx" />
        <data android:pathPattern=".*\.king" />
        <data android:pathPattern=".*\..*\.king" />
        <data android:pathPattern=".*\..*\..*\.king" />
        <data android:pathPattern=".*\..*\..*\..*\.king" />
        <data android:pathPattern=".*\.mol" />
        <data android:pathPattern=".*\..*\.mol" />
        <data android:pathPattern=".*\..*\..*\.mol" />
        <data android:pathPattern=".*\..*\..*\..*\.mol" />
        <data android:pathPattern=".*\.cdx" />
        <data android:pathPattern=".*\..*\.cdx" />
        <data android:pathPattern=".*\..*\..*\.cdx" />
        <data android:pathPattern=".*\..*\..*\..*\.cdx" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="content" />
        <data android:mimeType="chemical/x-cdx" />
        <data android:mimeType="chemical/x-mdl-molfile" />
        <data android:mimeType="application/king" />
        <data android:mimeType="application/kdx" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="application/king" />
        <data android:mimeType="application/cdx" />
        <data android:mimeType="application/mol" />
        <data android:mimeType="application/kdx" />
      </intent-filter>
      <intent-filter>
        <data android:scheme="kingdraw"
              android:host="kingdraw"
              android:port="8080"
              android:path="/fileShare" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="application/king" />
        <data android:mimeType="application/cdx" />
        <data android:mimeType="application/mol" />
        <data android:mimeType="application/kdx" />
      </intent-filter>
    </activity>
    <activity android:name="com.kingagroot.kingdraw.ui.SearchActivity"
              android:screenOrientation="portrait"
              android:configChanges="keyboardHidden|orientation|screenSize"
              android:windowSoftInputMode="stateHidden">
      <meta-data android:name="android.app.searchable"
                 android:resource="@xml/searchable" />
    </activity>
    <activity android:name="com.kingagroot.kingdraw.ui.account.RegisterMainActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"
              android:windowSoftInputMode="stateHidden" />
    <activity android:name="com.kingagroot.kingdraw.ui.account.LoginMainActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"
              android:windowSoftInputMode="stateHidden" />
    <activity android:name="com.kingagroot.kingdraw.ui.account.GetPasswordActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"
              android:windowSoftInputMode="stateHidden" />
    <activity android:name="com.kingagroot.kingdraw.ui.account.AccountWebActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"
              android:windowSoftInputMode="stateHidden" />
    <activity android:name="com.kingagroot.kingdraw.ui.MessageWebActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"
              android:windowSoftInputMode="stateHidden" />
    <activity android:name="com.kingagroot.kingdraw.ui.workstation.CreateGroupActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"
              android:windowSoftInputMode="stateHidden" />
    <activity android:name="com.kingagroot.kingdraw.NewMainActivity"
              android:launchMode="singleTask"
              android:screenOrientation="portrait"
              android:configChanges="keyboardHidden|orientation|screenSize"
              android:windowSoftInputMode="stateHidden" />
    <activity android:name="com.kingagroot.kingdraw.ui.user.UserInfoEditActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"
              android:windowSoftInputMode="stateHidden" />
    <activity android:name="com.kingagroot.kingdraw.ui.WebViewActivity"
              android:launchMode="singleTop"
              android:screenOrientation="sensor"
              android:windowSoftInputMode="stateHidden" />
    <activity android:name="com.kingagroot.kingdraw.ui.CloudSearchActivity" />
    <activity android:label="@string/select_region"
              android:name="com.kingagroot.kingdraw.ui.account.ChoiceCountryActivity"
              android:screenOrientation="portrait" />
    <activity android:name="com.kingagroot.kingdraw.ui.ImageDetailActivity" />
    <activity android:label="@string/synchronize"
              android:name="com.kingagroot.kingdraw.ui.synchornize.SynchronizeActivity"
              android:screenOrientation="portrait" />
    <activity android:label="@string/language"
              android:name="com.kingagroot.kingdraw.ui.LanguageActivity"
              android:launchMode="singleTask"
              android:screenOrientation="portrait" />
    <activity android:label="@string/laboratory"
              android:name="com.kingagroot.kingdraw.ui.LabActivity"
              android:launchMode="singleTask"
              android:screenOrientation="portrait" />
    <activity android:label="@string/vip_pay_center"
              android:name="com.kingagroot.kingdraw.ui.VipPayActivity"
              android:launchMode="singleTask"
              android:screenOrientation="portrait" />
    <activity android:theme="@style/PaletteTheme"
              android:name="com.kingagroot.kingdraw.ui.QRCodeActivity"
              android:launchMode="singleTask"
              android:screenOrientation="portrait" />
    <activity android:label="@string/about_us"
              android:name="com.kingagroot.kingdraw.ui.AboutActivity"
              android:launchMode="singleTask"
              android:screenOrientation="portrait" />
    <activity android:label="@string/help"
              android:name="com.kingagroot.kingdraw.ui.HelpActivity"
              android:launchMode="singleTask"
              android:screenOrientation="portrait" />
    <activity android:label="@string/setting"
              android:name="com.kingagroot.kingdraw.ui.AppSettingActivity"
              android:launchMode="singleTask"
              android:screenOrientation="portrait" />
    <activity android:label="@string/gateway"
              android:name="com.kingagroot.kingdraw.ui.GatewaySettingActivity"
              android:launchMode="singleTask"
              android:screenOrientation="portrait" />
    <activity android:label="@string/feedback_info"
              android:name="com.kingagroot.kingdraw.ui.FeedBackInfoActivity"
              android:launchMode="standard"
              android:screenOrientation="portrait" />
    <activity android:label="@string/feedback"
              android:name="com.kingagroot.kingdraw.ui.FeedBackListActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait" />
    <activity android:label="@string/feedback_submit"
              android:name="com.kingagroot.kingdraw.ui.FeedbackActivity"
              android:launchMode="singleTask"
              android:screenOrientation="portrait" />
    <activity android:label="@string/setting"
              android:name="com.kingagroot.kingdraw.ui.OtherSettingActivity"
              android:launchMode="singleTop"
              android:screenOrientation="behind"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" />
    <activity android:label="@string/gesture_edit"
              android:name="com.kingagroot.kingdraw.ui.GestureListActivity"
              android:launchMode="singleTop"
              android:screenOrientation="behind"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" />
    <activity android:label="@string/gesture_edit"
              android:name="com.kingagroot.kingdraw.ui.GestureEditActivity"
              android:launchMode="singleTop"
              android:screenOrientation="behind"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" />
    <activity android:label="@string/contact_us"
              android:name="com.kingagroot.kingdraw.ui.ContactUsActivity"
              android:launchMode="singleTask"
              android:screenOrientation="portrait" />
    <activity android:label="@string/file_info"
              android:name="com.kingagroot.kingdraw.ui.InfoFileActivity"
              android:screenOrientation="portrait" />
    <activity android:name="com.kingagroot.kingdraw.ui.PhotoActivity" />
    <service android:name="com.kingagroot.kingdraw.ui.SynService" />
    <activity android:theme="@style/AppTheme.FullScreen"
              android:name="com.kingagroot.kingdraw.ui.GuideActivity"
              android:screenOrientation="portrait" />
    <activity android:label="@string/tag_create"
              android:name="com.kingagroot.kingdraw.ui.fileTag.AddFileTagActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"
              android:windowSoftInputMode="stateVisible" />
    <activity android:label="@string/activity_label_filetaglistactivity"
              android:name="com.kingagroot.kingdraw.ui.fileTag.FileTagListActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait" />
    <activity android:label="@string/tag_add_files"
              android:name="com.kingagroot.kingdraw.ui.fileTag.SelectedFileActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait" />
    <activity android:label="@string/tag_edit"
              android:name="com.kingagroot.kingdraw.ui.fileTag.EditFileTagActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"
              android:windowSoftInputMode="stateHidden" />
    <activity android:name="com.kingagroot.kingdraw.widget.photoPicker.PreviewPhotoActivity" />
    <activity android:name="com.kingagroot.kingdraw.widget.photoPicker.PhotoEditActivity" />
    <activity android:theme="@style/AppTheme.Main"
              android:name="com.kingagroot.kingdraw.ui.baike.SearchPediaActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait" />
    <activity android:theme="@style/AppTheme.Main"
              android:name="com.kingagroot.kingdraw.ui.workstation.PediasActivity"
              android:exported="false"
              android:taskAffinity="Task.WebStation.Pedias"
              android:launchMode="singleTask"
              android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="com.kingdraw.pedia" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/AppTheme.Main"
              android:name="com.kingagroot.kingdraw.ui.workstation.TemplateActivity"
              android:exported="false"
              android:taskAffinity="Task.WebStation.Template"
              android:launchMode="singleTask"
              android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="com.kingdraw.template" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/AppTheme.Main"
              android:name="com.kingagroot.kingdraw.ui.workstation.WebStationActivity"
              android:exported="false"
              android:taskAffinity="Task.WebStation.UsualStation"
              android:launchMode="singleTask"
              android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="com.kingdraw.webStation" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name="com.kingagroot.kingdraw.ui.workstation.WebWorkActivity"
              android:launchMode="standard"
              android:screenOrientation="portrait" />
    <activity android:theme="@style/PaletteTheme"
              android:name="com.kingagroot.kingdraw.ui.NewSearchPaletteActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
              android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
              android:hardwareAccelerated="true" />
    <activity android:theme="@style/PaletteTheme"
              android:name="com.kingagroot.kingdraw.ui.NativeSearchPaletteActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
              android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
              android:hardwareAccelerated="true" />
    <activity android:theme="@style/PaletteTheme"
              android:name="com.kingagroot.kingdraw.ui.NativePaletteActivity"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
              android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
              android:hardwareAccelerated="true" />
    <activity android:theme="@style/PaletteTheme"
              android:name="com.kingagroot.kingdraw.ui.OpenGlMainActivity"
              android:launchMode="singleTop"
              android:screenOrientation="behind" />
    <activity android:theme="@style/PaletteTheme"
              android:name="com.kingagroot.kingdraw.palette.NewPaletteRotateActivity"
              android:screenOrientation="portrait"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
              android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
              android:hardwareAccelerated="true" />
    <activity android:theme="@style/PaletteTheme"
              android:name="com.kingagroot.kingdraw.ui.SupPaletteActivity"
              android:screenOrientation="behind"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
              android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
              android:hardwareAccelerated="true" />
    <activity android:theme="@style/PaletteTheme"
              android:name="com.kingagroot.kingdraw.ui.SUPTableActivity"
              android:screenOrientation="behind"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" />
    <activity android:name="com.tencent.tauth.AuthActivity"
              android:exported="true"
              android:launchMode="singleTask"
              android:noHistory="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="101566542" />
      </intent-filter>
    </activity>
    <activity android:theme="@style/Theme.AppCompat.NoActionBar"
              android:name="com.tencent.connect.common.AssistActivity"
              android:screenOrientation="behind"
              android:configChanges="keyboardHidden|orientation|screenSize" />
    <meta-data android:name="android.notch_support"
               android:value="true" />
    <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
               android:resource="@mipmap/ic_launcher" />
    <service android:name="org.eclipse.paho.android.service.MqttService" />
    <service android:name="com.kingagroot.kingdraw.mqtt.MyMqttService" />
    <service android:name="com.kingagroot.kingdraw.mqtt.QuitMqttService" />
    <service android:name="com.kingagroot.kingdraw.mqtt.MsgMqttService" />
    <service android:name="com.kingagroot.kingdraw.mqtt.VipStateCheckService" />
    <activity android:theme="@style/PaletteTheme"
              android:name="com.kingagroot.component.ui.ElementTableActivity"
              android:screenOrientation="behind"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" />
    <activity android:theme="@style/PaletteTheme"
              android:name="com.kingagroot.component.ui.BaseSupActivity"
              android:screenOrientation="behind"
              android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" />
    <service android:name="com.kingagroot.component.ui.account.service.PhoneRegCodeTimerService" />
    <service android:name="com.kingagroot.component.ui.account.service.EmailRegCodeTimerService" />
    <service android:name="com.kingagroot.component.ui.account.service.PhonePwdCodeTimerService" />
    <service android:name="com.kingagroot.component.ui.account.service.EmailPwdCodeTimerService" />
    <provider android:name="com.luck.picture.lib.basic.PictureFileProvider"
              android:exported="false"
              android:authorities="com.kingagroot.kingdraw.luckProvider"
              android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/ps_file_paths" />
    </provider>
    <service android:name="com.luck.picture.lib.service.ForegroundService"
             android:enabled="true"
             android:foregroundServiceType="location" />
    <activity android:theme="@style/Base.Theme.NoActionBar"
              android:name="com.luck.picture.lib.basic.PictureSelectorSupporterActivity"
              android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:theme="@style/Picture.Theme.Translucent"
              android:name="com.luck.picture.lib.basic.PictureSelectorTransparentActivity"
              android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
              android:name="com.yalantis.ucrop.UCropActivity"
              android:screenOrientation="portrait"
              android:configChanges="keyboardHidden|orientation|screenSize" />
    <activity android:theme="@style/Theme.AppCompat.Light.NoActionBar"
              android:name="com.yalantis.ucrop.UCropMultipleActivity"
              android:screenOrientation="portrait"
              android:configChanges="keyboardHidden|orientation|screenSize" />
    <provider android:name="com.lzf.easyfloat.EasyFloatInitializer"
              android:exported="false"
              android:multiprocess="true"
              android:authorities="com.kingagroot.kingdraw.EasyFloatInitializer" />
    <service android:name="androidx.camera.core.impl.MetadataHolderService"
             android:enabled="false"
             android:exported="false">
      <meta-data android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER"
                 android:value="androidx.camera.camera2.Camera2Config$DefaultProvider" />
    </service>
    <activity android:theme="@android:style/Theme.NoTitleBar"
              android:name="com.alipay.sdk.app.H5PayActivity"
              android:exported="false"
              android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|navigation|orientation|screenLayout|screenSize|smallestScreenSize" />
    <activity android:theme="@android:style/Theme.NoTitleBar"
              android:name="com.alipay.sdk.app.H5AuthActivity"
              android:exported="false"
              android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|navigation|orientation|screenLayout|screenSize|smallestScreenSize" />
    <activity android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:name="com.alipay.sdk.app.PayResultActivity"
              android:exported="true"
              android:launchMode="singleInstance"
              android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|navigation|orientation|screenLayout|screenSize|smallestScreenSize" />
    <activity android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:name="com.alipay.sdk.app.AlipayResultActivity"
              android:exported="true"
              android:launchMode="singleTask"
              android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|navigation|orientation|screenLayout|screenSize|smallestScreenSize" />
    <activity android:name="com.alipay.sdk.app.H5OpenAuthActivity"
              android:exported="false"
              android:screenOrientation="behind"
              android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|navigation|orientation|screenLayout|screenSize|smallestScreenSize"
              android:windowSoftInputMode="adjustResize|stateHidden" />
    <activity android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:name="com.alipay.sdk.app.APayEntranceActivity"
              android:exported="false"
              android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|navigation|orientation|screenLayout|screenSize|smallestScreenSize" />
    <meta-data android:name="com.google.android.play.billingclient.version"
               android:value="6.0.1" />
    <activity android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:name="com.android.billingclient.api.ProxyBillingActivity"
              android:exported="false"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
    <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
              android:enabled="true"
              android:exported="false" />
    <service android:name="com.google.android.gms.analytics.AnalyticsService"
             android:enabled="true"
             android:exported="false" />
    <service android:name="com.google.android.gms.analytics.AnalyticsJobService"
             android:permission="android.permission.BIND_JOB_SERVICE"
             android:enabled="true"
             android:exported="false" />
    <activity android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:name="com.google.android.gms.common.api.GoogleApiActivity"
              android:exported="false" />
    <meta-data android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version" />
    <service android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
             android:exported="false">
      <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                 android:value="cct" />
    </service>
    <service android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
             android:permission="android.permission.BIND_JOB_SERVICE"
             android:exported="false" />
    <receiver android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
              android:exported="false" />
    <meta-data android:name="com.android.vending.splits.required"
               android:value="true" />
    <meta-data android:name="com.android.stamp.source"
               android:value="https://play.google.com/store" />
    <meta-data android:name="com.android.stamp.type"
               android:value="STAMP_TYPE_DISTRIBUTION_APK" />
    <meta-data android:name="com.android.vending.splits"
               android:resource="@xml/splits0" />
    <meta-data android:name="com.android.vending.derived.apk.id"
               android:value="4" />
  </application>
</manifest>
